<div>
    <app-section-header [sectionName]="'Market Intelligence'"></app-section-header>
    <div class="market-news">
        <div class="news-item">
          <span class="dot red"></span>
          <span class="text">Rate hardening in Cyber market – +15% YoY</span>
        </div>
        <div class="divider"></div>
      
        <div class="news-item">
          <span class="dot yellow"></span>
          <span class="text">New capacity entering Marine market</span>
        </div>
        <div class="divider"></div>
      
        <div class="news-item">
          <span class="dot blue"></span>
          <span class="text">Environmental regulatory changes in CA</span>
        </div>
        <div class="divider"></div>
      </div>
</div>
