
    <div class="section-group">
        <section id="work_queue">
            <app-component-wrapper>
                <app-work-queue></app-work-queue>
            </app-component-wrapper>
        </section>
        <section id="portfolio_goals">
            <app-component-wrapper>
                <app-portfolio-goals></app-portfolio-goals>
            </app-component-wrapper>
        </section>
    </div>

    <section id="my_account">
        <app-component-wrapper>
            <app-my-accounts></app-my-accounts>
        </app-component-wrapper>
    </section>
