
    <div class="section-group">
        <section id="work_queue">
            <app-component-wrapper>
                <app-work-queue></app-work-queue>
            </app-component-wrapper>
        </section>
        <section id="portfolio_goals">
            <app-component-wrapper>
                <app-portfolio-goals></app-portfolio-goals>
            </app-component-wrapper>
        </section>
        <div class="vertical-section">
            <section id="quick_actions">
                <app-component-wrapper [marginBottom]="'0'">
                    <app-quick-actions></app-quick-actions>
                </app-component-wrapper>
            </section>
            <section id="market_intelligence">
                <app-component-wrapper>
                    <app-market-intelligence></app-market-intelligence>
                </app-component-wrapper>
            </section>
        </div>
    </div>

    <section id="my_account">
        <app-component-wrapper>
            <app-my-accounts></app-my-accounts>
        </app-component-wrapper>
    </section>
