.component-wrapper {
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: #1E2233;
    border: 1px solid #1D2434;
    height: 100%;
    width: fit-content;
    border-radius: 12px;
    padding: 1.5rem;
}