@import '../../styles/mixins';

.top-bar {
    @include container-padding;
    @include flex-between;
    padding-top: spacing(md);
    padding-bottom: spacing(md);
    background-color: inherit;
    border-bottom: 2px solid color(bg-dark);
  
    .welcome-message {
      @include heading-large;
  
      strong {
        font-weight: font-weight(light);
      }
    }
  
    .top-bar-actions {
      @include flex-start;
      gap: spacing(md);
  
      .search-input {
        @include search-input;
        padding: 0.7rem spacing(md);
      }
    }
  }